In [2]:
import time
import datetime
import os
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import tushare as ts
ts.set_token('993df56f2f58d7cf01eb581421e762de4c45172b9979ae950bc1333a')
pro = ts.pro_api()

import mpl_finance as mpf
# import matplotlib.finance as mpf
import matplotlib.pyplot as plt
from matplotlib import ticker
from matplotlib.pylab import date2num
import matplotlib as mpl
import seaborn as sns
sns.set()
mpl.rcParams['font.family'] = 'sans-serif'
mpl.rcParams['font.sans-serif'] = 'SimHei'

In [3]:
from mylab.mystock import plotStock
from mylab.mystock import getKdj
from mylab.mystock import displaySelect
from mylab.mystock import getMacd
from mylab.mystock import getStock
from mylab.mystock import getStockBasic
from mylab.mystock import getIndex
from mylab.mystock import mergeStockIndex

# demo test

In [41]:
stock_code = "000001.SZ"
start_date = "20100101"
end_date = "20200314"

stock_df = getStock(stock_code,start_date, end_date  , LOCAL = True)
# all_df.to_csv("temp/daily_weekly_monthly_df.csv",index = False)
print(stock_df.shape)
stock_df.head(6)

(2407, 60)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,...,K_monthly,D_monthly,J_monthly,kdj_signal_monthly,sema_monthly,lema_monthly,dif_monthly,dea_monthly,macd_monthly,macd_signal_monthly
0,000001.SZ,20100104,24.52,24.58,23.68,23.71,24.37,-0.66,-2.71,241922.76,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000001.SZ,20100105,23.75,23.90,22.75,23.30,23.71,-0.41,-1.73,556499.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000001.SZ,20100106,23.25,23.25,22.72,22.90,23.30,-0.40,-1.72,412143.13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000001.SZ,20100107,22.90,23.05,22.40,22.65,22.90,-0.25,-1.09,355336.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000001.SZ,20100108,22.50,22.75,22.35,22.60,22.65,-0.05,-0.22,288543.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,000001.SZ,20100111,23.50,23.68,22.28,22.60,22.60,0.00,0.00,442846.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
index_df = getIndex("000001.SH",start_date, end_date  , LOCAL = True)
# all_df.to_csv("temp/daily_weekly_monthly_df.csv",index = False)
print(index_df.shape)
index_df.head()
# plotStock(index_df, start_date = "20190901")

(2477, 60)

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,...,K_monthly,D_monthly,J_monthly,kdj_signal_monthly,sema_monthly,lema_monthly,dif_monthly,dea_monthly,macd_monthly,macd_signal_monthly
0,000001.SH,20100104,3243.760,3289.750,3295.279,3243.319,3277.139,-33.379,-1.0185,109447927.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,000001.SH,20100105,3282.179,3254.468,3290.512,3221.462,3243.760,38.419,1.1844,126115066.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,000001.SH,20100106,3254.215,3277.517,3295.868,3253.044,3282.179,-27.964,-0.8520,123651384.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,000001.SH,20100107,3192.776,3253.991,3268.819,3176.707,3254.215,-61.439,-1.8880,128652827.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,000001.SH,20100108,3195.997,3177.259,3198.920,3149.017,3192.776,3.221,0.1009,98377147.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [46]:
all_df = mergeStockIndex(stock_df,index_df)
print(all_df.shape)
all_df.head()

(2331, 79)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,...,K_monthly_index,D_monthly_index,J_monthly_index,kdj_signal_monthly_index,sema_monthly_index,lema_monthly_index,dif_monthly_index,dea_monthly_index,macd_monthly_index,macd_signal_monthly_index
0,600667.SH,20100104,8.01,8.14,7.86,8.07,7.93,0.14,1.77,121168.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,600667.SH,20100105,8.08,8.45,8.07,8.28,8.07,0.21,2.60,262578.71,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,600667.SH,20100106,8.25,8.35,8.04,8.05,8.28,-0.23,-2.78,153999.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,600667.SH,20100107,8.05,8.09,7.71,7.77,8.05,-0.28,-3.48,103278.82,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,600667.SH,20100108,7.78,8.09,7.73,8.08,7.77,0.31,3.99,88020.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# select by Index and stock

In [48]:
def selectByKdj(df, index_monthly_MACD = True, index_weekly_KDJ = True, stock_monthly_KDJ = True, stock_weekly_KDJ = True ):
    select_df = df.copy(deep = True)
    select_df = select_df.loc[select_df["kdj_signal"] == 1, :]
    if index_monthly_MACD:
        select_df = select_df.loc[select_df["dif_monthly_index"].values >= select_df['dea_monthly_index'].values, :]
    else:
        select_df = select_df.loc[select_df["dif_monthly_index"].values < select_df['dea_monthly_index'].values, :]
    if index_weekly_KDJ:
        select_df = select_df.loc[select_df["K_weekly_index"].values >= select_df['D_weekly_index'].values, :]
    else:
        select_df = select_df.loc[select_df["K_weekly_index"].values < select_df['D_weekly_index'].values, :]
    if stock_monthly_KDJ:
        select_df = select_df.loc[select_df["K_monthly"].values >= select_df['D_monthly'].values, :]
    else:
        select_df = select_df.loc[select_df["K_monthly"].values < select_df['D_monthly'].values, :]
    if stock_weekly_KDJ:
        select_df = select_df.loc[select_df["K_weekly"].values >= select_df['D_weekly'].values, :]
    else:
        select_df = select_df.loc[select_df["K_weekly"].values < select_df['D_weekly'].values, :]
    
    return select_df

In [56]:
stock_code = "000001.SZ"
start_date = "20100101"
end_date = "20200314"
save_dir = "./output/select_by_KDJ/"

index_monthly_MACD = True
index_weekly_KDJ = not True
stock_monthly_KDJ = True
stock_weekly_KDJ = True
if index_monthly_MACD:
    save_dir +=  "index_monthly_MACD_good/"
else:
    save_dir +=  "index_monthly_MACD_bad/"
if index_weekly_KDJ:
    save_dir +=  "index_weekly_KDJ_good/"
else:
    save_dir +=  "index_weekly_KDJ_bad/"
if stock_monthly_KDJ:
    save_dir +=  "stock_monthly_KDJ_good/"
else:
    save_dir +=  "stock_monthly_KDJ_bad/"
if stock_weekly_KDJ:
    save_dir +=  "stock_weekly_KDJ_good/"
else:
    save_dir +=  "stock_weekly_KDJ_bad/"
print(save_dir)

index_df = getIndex("000001.SH",start_date, end_date  , LOCAL = True)
pool_df = getStockBasic(LOCAL = True)
all_select_df = pd.DataFrame()
for i in range(30):
    stock_code = pool_df.loc[i,"ts_code"]
    stock_name = pool_df.loc[i,"name"]
    if stock_code[0] == "3":
        continue
    if stock_name[0] == "*":
        continue
        
    stock_df = getStock(stock_code,start_date, end_date  , LOCAL = True)
    all_df = mergeStockIndex(stock_df,index_df)
    if len(all_df) > 300:
        select_df = selectByKdj(all_df, index_monthly_MACD, index_weekly_KDJ, stock_monthly_KDJ , stock_weekly_KDJ )
        print(stock_name,stock_code,select_df.shape)
        if len(select_df) > 0:
            all_select_df  = pd.concat([all_select_df,select_df],axis = 0)
            for i in range(len(select_df)):
                ix = select_df.index[i]
                trade_date = select_df.trade_date.values[i]
                # print(ix)
                # print(trade_date)
                display_df = displaySelect(all_df,ix, trade_date= trade_date, save_dir = save_dir )
                plt.close()
all_select_df.to_csv(save_dir+"all_select_df.csv", index = False)
print(all_select_df.shape)

./output/select_by_KDJ/index_monthly_MACD_good/index_weekly_KDJ_bad/stock_monthly_KDJ_good/stock_weekly_KDJ_good/
平安银行 000001.SZ (5, 117)
万科A 000002.SZ (8, 117)
国农科技 000004.SZ (8, 117)
世纪星源 000005.SZ (1, 117)
深振业A 000006.SZ (3, 117)
全新好 000007.SZ (3, 117)
神州高铁 000008.SZ (6, 117)
中国宝安 000009.SZ (7, 117)
深物业A 000011.SZ (6, 117)
南玻A 000012.SZ (7, 117)
沙河股份 000014.SZ (3, 117)
深康佳A 000016.SZ (11, 117)
深中华A 000017.SZ (2, 117)
深粮控股 000019.SZ (8, 117)
深华发A 000020.SZ (1, 117)
深科技 000021.SZ (8, 117)
深天地A 000023.SZ (9, 117)
特力A 000025.SZ (10, 117)
飞亚达 000026.SZ (9, 117)
深圳能源 000027.SZ (10, 117)
国药一致 000028.SZ (9, 117)
深深房A 000029.SZ (4, 117)
富奥股份 000030.SZ (2, 117)
大悦城 000031.SZ (2, 117)
深桑达A 000032.SZ (5, 117)
神州数码 000034.SZ (10, 117)
中国天楹 000035.SZ (5, 117)
华联控股 000036.SZ (2, 117)
深南电A 000037.SZ (6, 117)
(170, 117)

# select by industry and stock KDJ

# select by stock KDJ

In [4]:
def selectByStockKdj(df, stock_monthly_KDJ = True, stock_weekly_KDJ = True ):
    select_df = df.copy(deep = True)
    select_df = select_df.loc[select_df["kdj_signal"] == 1, :]
    select_df = select_df.loc[select_df["D_monthly"].values < 50, :]
    select_df = select_df.loc[select_df["D_weekly"].values < 60, :]
    select_df = select_df.loc[select_df["D"].values < 50, :]
    if stock_monthly_KDJ:
        select_df = select_df.loc[select_df["K_monthly"].values >= select_df['D_monthly'].values, :]
    else:
        select_df = select_df.loc[select_df["K_monthly"].values < select_df['D_monthly'].values, :]
    if stock_weekly_KDJ:
        select_df = select_df.loc[select_df["K_weekly"].values >= select_df['D_weekly'].values, :]
    else:
        select_df = select_df.loc[select_df["K_weekly"].values < select_df['D_weekly'].values, :]
    
    return select_df

In [7]:
index_code = "399995.SZ"
stock_code = "000001.SH"
start_date = "20100101"
end_date = "20200318"
save_dir = "./output/select_by_KDJ/"


stock_monthly_KDJ = True
stock_weekly_KDJ = True
if stock_monthly_KDJ:
    save_dir +=  "stock_monthly_KDJ_good/"
else:
    save_dir +=  "stock_monthly_KDJ_bad/"
if stock_weekly_KDJ:
    save_dir +=  "stock_weekly_KDJ_good/"
else:
    save_dir +=  "stock_weekly_KDJ_bad/"
print(save_dir)

# index_df = getIndex(index_code,start_date, end_date  , LOCAL = True)
pool_df = getStockBasic(LOCAL = True)
all_select_df = pd.DataFrame()
for i in range(30):
    stock_code = pool_df.loc[i,"ts_code"]
    stock_name = pool_df.loc[i,"name"]
    if stock_code[0] == "3":
        continue
    if stock_name[0] == "*":
        continue
        
    stock_df = getStock(stock_code,start_date, end_date  , LOCAL = True)
#     all_df = mergeStockIndex(stock_df,index_df)
    if len(stock_df) > 300:
        select_df = selectByStockKdj(stock_df, stock_monthly_KDJ , stock_weekly_KDJ )
        print(stock_name,stock_code,select_df.shape)
        if len(select_df) > 0:
            all_select_df  = pd.concat([all_select_df,select_df],axis = 0)
            for i in range(len(select_df)):
                ix = select_df.index[i]
                trade_date = select_df.trade_date.values[i]
                # print(ix)
                # print(trade_date)
                display_df = displaySelect(stock_df,ix, trade_date= trade_date, save_dir = save_dir )
                plt.close()
all_select_df.to_csv(save_dir+"all_select_df.csv", index = False)
print(all_select_df.shape)

./output/select_by_KDJ/stock_monthly_KDJ_good/stock_weekly_KDJ_good/
平安银行 000001.SZ (11, 60)
万科A 000002.SZ (5, 60)
国农科技 000004.SZ (2, 60)
世纪星源 000005.SZ (12, 60)
深振业A 000006.SZ (7, 60)
全新好 000007.SZ (4, 60)
神州高铁 000008.SZ (6, 60)
中国宝安 000009.SZ (3, 60)
深物业A 000011.SZ (7, 60)
南玻A 000012.SZ (6, 60)
沙河股份 000014.SZ (13, 60)
深康佳A 000016.SZ (11, 60)
深中华A 000017.SZ (11, 60)
深粮控股 000019.SZ (10, 60)
深华发A 000020.SZ (9, 60)
深科技 000021.SZ (6, 60)
深天地A 000023.SZ (6, 60)
特力A 000025.SZ (12, 60)
飞亚达 000026.SZ (4, 60)
深圳能源 000027.SZ (7, 60)
国药一致 000028.SZ (3, 60)
深深房A 000029.SZ (3, 60)
富奥股份 000030.SZ (8, 60)
大悦城 000031.SZ (11, 60)
深桑达A 000032.SZ (10, 60)
神州数码 000034.SZ (8, 60)
中国天楹 000035.SZ (5, 60)
华联控股 000036.SZ (9, 60)
深南电A 000037.SZ (14, 60)
(223, 60)