In [1]:
import time
import datetime
import os
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import tushare as ts
ts.set_token('29eaf3bcac23df4c6d025de157ab2d53beead3391fbe6e83b4ebcb6c')
pro = ts.pro_api()

import mpl_finance as mpf
import matplotlib.pyplot as plt
from matplotlib import ticker
from matplotlib.pylab import date2num
import matplotlib as mpl
import seaborn as sns
sns.set()
mpl.rcParams['font.family'] = 'sans-serif'
mpl.rcParams['font.sans-serif'] = 'SimHei'

D:\Users\admin\Anaconda3\envs\py37-stock\lib\site-packages\mpl_finance.py:22: DeprecationWarning:

  =================================================================

   WARNING: `mpl_finance` is deprecated:

    Please use `mplfinance` instead (no hyphen, no underscore).

    To install: `pip install --upgrade mplfinance`

   For more information, see: https://pypi.org/project/mplfinance/

  =================================================================

  category=DeprecationWarning)

In [2]:
from mylab.mystock import plotStock
from mylab.mystock import getKdj
from mylab.mystock import displaySelect
from mylab.mystock import getMacd
from mylab.mystock import getStock
from mylab.mystock import getIndex
from mylab.mystock import getIndexBasic
from mylab.mystock import getStockBasic
from mylab.mystock import readData
from mylab.mystock import mergeDailyWeeklyMonthly
from mylab.stock.myread import mergeStockIndex
from mylab.stock.myread import getIndustry

In [3]:
SAVE_CSV = True
LOCAL = not True

GET_DAILY = True
SELECT_STOCK = True

start_date = "20140101"
end_date = "20200401"

# get all Stocks Info

In [4]:
#获取基础信息数据，包括股票代码、名称、上市日期、退市日期等
if SELECT_STOCK:
    pool_df = getStockBasic(LOCAL = True)
else:
    pool_df = pd.read_csv("./output/"+"stock_selected_by_industry.csv")

print('获得上市股票总数：', len(pool_df)-1)
pool_df.head()

获得上市股票总数： 3796

     ts_code  symbol  name area industry market  list_date
0  000001.SZ       1  平安银行   深圳       银行     主板   19910403
1  000002.SZ       2   万科A   深圳     全国地产     主板   19910129
2  000004.SZ       4  国农科技   深圳     生物制药     主板   19910114
3  000005.SZ       5  世纪星源   深圳     环境保护     主板   19901210
4  000006.SZ       6  深振业A   深圳     区域地产     主板   19920427

# update all stocks daily

In [5]:
start_date = "20160101"
# end_date = "20200323"
df = pro.daily(ts_code = "000001.SZ",start_date = start_date, end_date = end_date )
print(df.shape)
df.head()

(1034, 11)

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,000001.SZ,20200401,12.86,13.13,12.82,12.89,12.80,0.09,0.7031,520836.04,676070.117
1,000001.SZ,20200331,13.05,13.09,12.78,12.80,12.94,-0.14,-1.0819,513370.30,662915.471
2,000001.SZ,20200330,12.85,13.04,12.76,12.94,13.15,-0.21,-1.5970,661738.79,852956.240
3,000001.SZ,20200327,13.25,13.38,13.08,13.15,13.06,0.09,0.6891,653018.88,861618.663
4,000001.SZ,20200326,12.78,13.34,12.72,13.06,12.87,0.19,1.4763,1075192.43,1408651.057

In [6]:
# get daily data
start_date = "20100101"
# end_date = "20200323"
save_dir = "./data/stock/daily/"

if GET_DAILY:
    for i in range(len(pool_df)):
        stock_code = pool_df.loc[i,"ts_code"]
        stock_name = pool_df.loc[i,"name"]
        if stock_code[0] == "0":
            if i%100 == 0:
                print('正在获取第%d家: %s,股票代码%s.' % (i+1,stock_name, stock_code))
            #接口限制访问200次/分钟，加一点微小的延时防止被ban
            time.sleep(0.333)
            df = pro.daily(ts_code = stock_code,startdate = start_date, enddate = end_date )

            try:
                df.to_csv(save_dir + stock_code + "-"+ stock_name + '.csv', index = False)
            except:
                try:
                    df.to_csv(save_dir + stock_code + '.csv', index = False)
                except:
                    pritn("err: ", stock_name)

正在获取第1家: 平安银行,股票代码000001.SZ.
正在获取第201家: 顺发恒业,股票代码000631.SZ.
正在获取第301家: 长江证券,股票代码000783.SZ.
正在获取第401家: 一汽夏利,股票代码000927.SZ.
正在获取第501家: 美年健康,股票代码002044.SZ.
正在获取第601家: 荣盛发展,股票代码002146.SZ.
正在获取第701家: 北化股份,股票代码002246.SZ.
正在获取第801家: 高乐股份,股票代码002348.SZ.
正在获取第901家: 中原内配,股票代码002448.SZ.
正在获取第1001家: 千红制药,股票代码002550.SZ.
正在获取第1101家: 利君股份,股票代码002651.SZ.
正在获取第1201家: 南兴股份,股票代码002757.SZ.
正在获取第1301家: 钧达股份,股票代码002865.SZ.
正在获取第1401家: 博杰股份,股票代码002975.SZ.
正在获取第2301家: 浙江东方,股票代码600120.SH.
正在获取第2401家: 民丰特纸,股票代码600235.SH.
正在获取第2501家: 恒丰纸业,股票代码600356.SH.
正在获取第2601家: 驰宏锌锗,股票代码600497.SH.
正在获取第2701家: 大众交通,股票代码600611.SH.
正在获取第2801家: 宁波富达,股票代码600724.SH.
正在获取第2901家: 申通地铁,股票代码600834.SH.
正在获取第3001家: 赤峰黄金,股票代码600988.SH.
正在获取第3101家: 兴业证券,股票代码601377.SH.
正在获取第3201家: 大唐发电,股票代码601991.SH.
正在获取第3301家: 养元饮品,股票代码603156.SH.
正在获取第3401家: 威尔药业,股票代码603351.SH.
正在获取第3501家: 君禾股份,股票代码603617.SH.
正在获取第3601家: 交建股份,股票代码603815.SH.
正在获取第3701家: 甬金股份,股票代码603995.SH.

In [7]:
# get all stock daily trade info today
daily_basic_df = pro.daily_basic(ts_code='', trade_date= end_date)
daily_basic_df.to_csv("./data/stock/daily_basic/"+ "daily_basic_" + end_date + ".csv")
print(daily_basic_df.shape)
daily_basic_df.head()

(3791, 18)

,ts_code,trade_date,close,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_share,float_share,free_share,total_mv,circ_mv
0,002963.SZ,20200401,26.45,1.8082,1.8082,0.75,23.2831,18.4429,2.4249,4.3139,3.4374,None,None,15035.9930,3759.0000,3759.0000,3.977020e+05,99425.5500
1,600616.SH,20200401,4.52,1.0661,1.6655,1.47,NaN,NaN,1.1931,2.5889,2.6199,None,None,51461.9192,51461.9192,32940.9465,2.326079e+05,232607.8748
2,000889.SZ,20200401,9.34,9.0319,23.6018,1.04,24.7126,30.8818,1.7011,2.0620,1.9842,None,None,66910.1883,62164.3712,23788.9099,6.249412e+05,580615.2270
3,002967.SZ,20200401,34.20,1.9603,1.9603,0.50,66.7507,66.7507,7.4087,7.1208,7.1208,None,None,33067.0000,8267.0000,8267.0000,1.130891e+06,282731.4000
4,300570.SZ,20200401,22.08,2.2524,3.8189,0.90,30.2182,30.2182,3.8988,6.7421,6.7421,None,None,22999.6800,19227.1415,11340.3955,5.078329e+05,424535.2843

# select stock by industry

In [8]:
# select stock by industry
# only use SW

if SELECT_STOCK:
    index_select_df = pd.read_csv("./data/industry/all_select_industry.csv")
    index_select_df = index_select_df.loc[index_select_df["market"] == "SW" , :]
    print("selected industries: ", len(index_select_df))
    stock_select_df = pd.DataFrame()
    for i in range(len(index_select_df)):
        stock_code = index_select_df.loc[i,"ts_code"]
        stock_name = index_select_df.loc[i,"name"]
        cat =index_select_df.loc[i,"category"]
        df = pro.index_member(index_code=stock_code)
        print(stock_name, cat, len(df))
        stock_select_df  = pd.concat([stock_select_df,df],axis = 0)
    print("all stocks: ",stock_select_df.shape[0])
    # stock_select_df.drop_duplicates(subset = "con_code", inplace = True)  # drop dupe
    stock_select_df.reset_index(drop = True, inplace = True)
    stock_select_df.rename(columns = {"con_code":"ts_code"}, inplace = True)
    # merge basic info of stock
    pool_df = getStockBasic(LOCAL = True)
    stock_select_df = pd.merge(stock_select_df,pool_df, how = "left", on = "ts_code")
    # stock_select_df = stock_select_df.loc[stock_select_df["index_code"] == "399995.SZ",:] # select one industry
    stock_select_df.reset_index(drop = True, inplace = True)
    stock_select_df.to_csv("./output/"+"stock_selected_by_industry.csv", index = False)
    print(stock_select_df.shape)
    stock_select_df.head()

selected industries:  14
渔业(申万) 二级行业指数 9
运输设备Ⅱ(申万) 二级行业指数 11
商业物业经营(申万) 二级行业指数 12
餐饮Ⅱ(申万) 二级行业指数 3
基础建设(申万) 二级行业指数 34
园林工程Ⅱ(申万) 二级行业指数 21
海洋捕捞(申万) 三级行业指数 2
水产养殖(申万) 三级行业指数 7
楼宇设备(申万) 三级行业指数 13
百货(申万) 三级行业指数 25
一般物业经营(申万) 三级行业指数 3
自然景点(申万) 三级行业指数 8
餐饮Ⅲ(申万) 三级行业指数 3
火电设备(申万) 三级行业指数 4
all stocks:  155
(155, 10)

# select stocks by KDJ

In [9]:
def selectStockByKdj(df, stock_monthly_KDJ = True, stock_weekly_KDJ = True ):
    select_df = df.copy(deep = True)
    select_df = select_df.loc[select_df["kdj_signal"] == 1, :]
    select_df = select_df.loc[select_df["D_monthly"].values < 60, :]
    select_df = select_df.loc[select_df["D_weekly"].values < 60, :]
    if stock_monthly_KDJ:
        select_df = select_df.loc[select_df["K_monthly"].values >= select_df['D_monthly'].values, :]
    else:
        select_df = select_df.loc[select_df["K_monthly"].values < select_df['D_monthly'].values, :]
    if stock_weekly_KDJ:
        select_df = select_df.loc[select_df["K_weekly"].values >= select_df['D_weekly'].values, :]
    else:
        select_df = select_df.loc[select_df["K_weekly"].values < select_df['D_weekly'].values, :]
    
    return select_df

In [10]:
start_date = "20140101"
# end_date = "20200323"

stock_select_df = pd.read_csv("./output/"+"stock_selected_by_industry.csv")
all_select_df = pd.DataFrame()
for i in range(len(stock_select_df)):
    index_code = stock_select_df.loc[i,"index_code"]
    stock_code = stock_select_df.loc[i,"ts_code"]
    stock_name = stock_select_df.loc[i,"name"]

    stock_df = getStock(stock_code,start_date, end_date, LOCAL = True)
    industry_df = getIndustry(index_code,start_date,end_date, merge_daily = False)
    stock_df = mergeStockIndex(stock_df,industry_df)
    stock_df = selectStockByKdj(stock_df, stock_monthly_KDJ = True, stock_weekly_KDJ = True )  # stock 
    stock_df = stock_df.loc[stock_df["K_weekly_index"].values >= (stock_df['D_weekly_index'].values-1), :]  #index
    stock_df = stock_df.loc[stock_df["K_monthly_index"].values >= (stock_df['D_monthly_index'].values-1), :]
    stock_df = stock_df.loc[stock_df["D_weekly_index"].values < 60, :]
    stock_df = stock_df.loc[stock_df["D_monthly_index"].values < 60, :]
#     print(stock_code,len(stock_df))
    if stock_code[0] == "3":
        continue
    if stock_name[0] == "*":
        continue     
    if len(stock_df) > 0:  
        all_select_df  = pd.concat([all_select_df,stock_df],axis = 0)

all_select_df.to_csv("./output/"+"stock_selected_by_industry_KDJ.csv", index = False)
print(all_select_df.shape)
all_select_df = all_select_df.loc[all_select_df["trade_date"] == end_date,:]
print(all_select_df.shape)
all_select_df.head()

(442, 98)
(0, 98)

Empty DataFrame
Columns: [ts_code, trade_date, open, high, low, close, pre_close, change, pct_chg, vol, amount, trade_date_stamp, K, D, J, kdj_signal, sema, lema, dif, dea, macd, macd_signal, close_weekly, open_weekly, high_weekly, low_weekly, pre_close_weekly, change_weekly, pct_chg_weekly, vol_weekly, amount_weekly, K_weekly, D_weekly, J_weekly, kdj_signal_weekly, sema_weekly, lema_weekly, dif_weekly, dea_weekly, macd_weekly, macd_signal_weekly, close_monthly, open_monthly, high_monthly, low_monthly, pre_close_monthly, change_monthly, pct_chg_monthly, vol_monthly, amount_monthly, K_monthly, D_monthly, J_monthly, kdj_signal_monthly, sema_monthly, lema_monthly, dif_monthly, dea_monthly, macd_monthly, macd_signal_monthly, close_weekly_index, open_weekly_index, high_weekly_index, low_weekly_index, pre_close_weekly_index, change_weekly_index, pct_chg_weekly_index, vol_weekly_index, amount_weekly_index, K_weekly_index, D_weekly_index, J_weekly_index, kdj_signal_weekly_index, sema_weekly_index, lema_weekly_index, dif_weekly_index, dea_weekly_index, macd_weekly_index, macd_signal_weekly_index, close_monthly_index, open_monthly_index, high_monthly_index, low_monthly_index, pre_close_monthly_index, change_monthly_index, pct_chg_monthly_index, vol_monthly_index, amount_monthly_index, K_monthly_index, D_monthly_index, J_monthly_index, kdj_signal_monthly_index, sema_monthly_index, lema_monthly_index, dif_monthly_index, dea_monthly_index, macd_monthly_index, macd_signal_monthly_index]
Index: []

[0 rows x 98 columns]

In [11]:
save_dir = "./output/select_by_industry_KDJ/"
start_date = "20140101"
# end_date = "20200323"

# all_select_df = pd.read_csv("./output/"+"stock_selected_by_industry_KDJ.csv")
stocks_code = all_select_df.ts_code.values
# stocks_code = ["603969.SH"]
for stock_code in stocks_code:
    stock_df = getStock(stock_code,start_date, end_date , LOCAL = True)
    select_df = pd.read_csv("./output/"+"stock_selected_by_industry_KDJ.csv")
    select_df["trade_date"] = select_df["trade_date"].astype("str")
    select_df = select_df.loc[select_df["ts_code"].values == stock_code,["trade_date","pre_close","pct_chg"]]
    select_df = pd.merge(stock_df,select_df, how = "left", on = "trade_date")
    select_df = select_df.dropna(how = "any")
    print(stock_code,len(select_df))
    for i in range(len(select_df)):
        ix = select_df.index[i]
        trade_date = select_df.trade_date.values[i]

        display_df = displaySelect(stock_df,ix, trade_date= trade_date, save_dir = save_dir )
        plt.close()